<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="header">
        <img src="/assets/header.png" width="300px" height="40" alt="" class="nav-cont">
        <br>
        <div class="menu">
          <% if user_signed_in? %>
            <% if profile_img(current_user) %>
              <label for="menu_bar01"><img src="/assets/icon.png" width="50px" height="50px" class="icon-img">
                <div class="arrow"></div>
              </label>
              <input type="checkbox" id="menu_bar01" class="accordion" />
            <% else %>
              <label for="menu_bar01"><img src=<%= current_user.image%> class="icon_image" width="50px" height="50px"></label>
              <div class="arrow_down3"></div>
            <% end %>
            <ul id="links01">
              <li><%= link_to 'マイページ', edit_user_registration_path %></li>
              <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
          <% end %>
        </div>
      </div>
      <nav>
        <div class="nav-wrap">
          <div class="scroll-nav">
            <ul>
            <% if user_signed_in? %>
              <li><%= link_to 'ホーム', target_path(current_user.id) %></li>
            <% end %>
              <li><a href="#">ランキング</a></li>
              <li><a href="#">menu</a></li>
            </ul>
          </div>
          <div class="next-btn">＞</div>
        </div>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main>
    <%= yield %>
    </main>
  </body>
</html>